
				  body{
					font-family: sans-serif;
									font-size: 14px;
									background-color: #eee;
								  }
								  .Python {
									float: right; /* Выравнивание по левому краю */
								 }
								 h1 {
									width: 45%;
									margin: 0;
									padding: 0;
								 }
								 .im {
									position: relative;

								 }
								 .gb {
									padding-left: 0;
									margin-left: 0;
									list;-style-type: none
								 }

								 .gb li {
									 display: inline-block;
								 }
								 .g{
									 padding: 0 0 0 650px;
								 }
								.b {
								padding: 0 0 0 600px;
								}