*{
	margin: 2px;
	padding: 0;
}
.H{
	background-color:#cccccc ;
}
.nav{
	width: 15em;
	background-color:#cccccc ;
float: left;
margin-top: 0px;


}
.list{
	margin-left: 43px;
	font-size: 16px;
	margin-top: 10px;
	padding: 10px;
}
.article_1{
	background-color: #aaaaaa;
	padding: 3px;
margin-left: 16em;
margin-top: 0.1em;
padding: 0;

}

.H {
background-color: #cccccc;

}
.text{
	padding: 17px;
}
.footer{width: 100%;
background-color: #cccccc;
}
img{
	float: right;
	margin-top: 135px;
}
.clear{
	clear: both;
}