.primer {
	text-align: right;
}
.ad {
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	text-align: right;
}
.tit{
	margin-left: 25px;
}

.Ivanov{
font-style: italic;
text-decoration:underline ;
}
.text{
font-size: 18px;
font-family: 'Marck Script', cursive;

}
span{
	font-size: 18px;
}
.end{
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	font-weight: bold;
}
